<div>
    <h2 class="page-title">Create a new phone</h2>
    <div>
      <form [formGroup]="formGroup" (ngSubmit)="save()" class="grid gap-4 grid-cols-1">
        <div>
          <label class="label">Phone Number: </label>
          <input formControlName="phoneNumber" placeholder="306*******"/>
        </div>
        <div>
            <label class="label">Type: </label>
            <input formControlName="phoneType" placeholder="eg cell"/>
        </div>
        
        <div class="flex items-center">
          <button type="submit" class="btn-primary">Create Phone</button>
          <button (click)="back()" class="ml-2 btn-secondary">Back</button>
        </div>
      </form>
    </div>
  </div>
  
  
  