<div>
    <h2>Edit {{firstName}} 's details</h2>
    <div><span>id: </span>{{userId}}</div>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div>
        <label>firstName: </label>
        <input formControlName="firstName" placeholder="firstName" name="firstName" />
      </div>
      <br/>
      <div>
        <label>lastName: </label>
        <input formControlName="lastName" placeholder="lastName" name="lastName" />
      </div>
      <br/>
      <div>
        <label>userName: </label>
        <input formControlName="username" placeholder="userName" name="userName" />
      </div>
      <br/>

    </form>
</div>

<div class="flex items-center">
  <button (click)="save()" class="btn-primary">
    Save
  </button>
  <button (click)="back()" class="btn-secondary ml-2">
    Back
  </button>
</div>
