<div>
    <h2 class="page-title" >Edit {{firstName}} 's details</h2>
  
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div>
        <label class="label">First Name: </label>
        <input formControlName="firstName" placeholder="firstName" name="firstName" />
      </div>
      <br/>
      <div>
        <label class="label">Last Name: </label>
        <input formControlName="lastName" placeholder="lastName" name="lastName" />
      </div>
      <br/>
      <div>
        <label class="label">User Name: </label>
        <input formControlName="username" placeholder="username" name="username" />
      </div>
      <br/>

    </form>
</div>

<div class="flex items-center">
  <button (click)="save()" class="btn-primary">
    Save
  </button>
  <button (click)="back()" class="btn-secondary ml-2">
    Back
  </button>
</div>
