<div>
  <h2 class="page-title">Create a new user</h2>
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="save()" class="grid gap-4 grid-cols-1">
      <div>
        <label class="label">First name: </label>
        <input formControlName="firstName"/>
      </div>
      <div>
        <label class="label">Last name: </label>
        <input formControlName="lastName"/>
      </div>
      <div>
        <label class="label">Username: </label>
        <input formControlName="username"/>
      </div>
      <div class="flex items-center">
        <button type="submit" class="btn-primary">Create</button>
        <button (click)="back()" class="ml-2 btn-secondary">Back</button>
      </div>
    </form>
  </div>
</div>


