<div>
  <h2>Create a new user</h2>
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div>
        <label>First name: </label>
        <input formControlName="firstName"/>
      </div>
      <div>
        <label>Last name: </label>
        <input formControlName="lastName"/>
      </div>
      <div>
        <label>Username: </label>
        <input formControlName="username"/>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div>
  <button (click)="back()">
   Back
  </button>
</div>
