<div>
    <h2 class="page-title">Edit phone number {{phoneNumber}} info</h2>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div>
        <label class="label">Phone Number: </label>
        <input formControlName="phoneNumber"  name="phoneNumber" />
      </div>
      <br/>
      <div class="label">
        <label>Phone Type: </label>
        <input formControlName="phoneType" name="phoneType" />
      </div>
      <br/>
      <div class="label">
        <label>Phone Id: </label>
        <input formControlName="phoneId" name="phoneId" />
      </div>
      <br/>
      <div class="label">
        <label>User Id: </label>
        <input formControlName="userId" name="userId" />
      </div>
      <br/>
    </form>
</div>

<div class="flex items-center">
  <button (click)="save()" class="btn-primary">
    Save
  </button>
  <button (click)="back()" class="btn-secondary ml-2">
    Back
  </button>
</div>
