<div *ngIf="!loadingSubscription.closed">
  FANCY LOADING SPINNER
</div>
<div *ngIf="user && loadingSubscription.closed">

  <h2 class="page-title">{{user.firstName}}'s phones</h2>

  <ul class="phones">
    <li *ngFor="let phone of phones" class="items-box">
    
      <div> <label class="label">phone id : </label> <span class="label-content">{{phone.phoneId}}</span> 
        <label class="label">phone number : </label> <span class="label-content">{{phone.phoneNumber}}</span>  
        <label class="label">user id : </label><span class="label-content">{{phone.userId}}</span>
      </div> 

      <div class="group-buttons">
        <button (click)="viewPhone(phone)" class="btn-view mx-1">
          View details
        </button>
        <button (click)="editPhone(phone)" class="btn-edit mx-1">
          Edit
        </button>
        <button class="btn-delete mx-1" title="delete phone"
                (click)="deletePhone(phone.phoneId, phone.userId)">x
        </button>
      </div>
      
    </li>
  </ul>
  <div>
    <button class="btn-creation mr-2 my-5" (click)="createPhone()">
      Add new phone
    </button>

    <button class="btn-view my-5" (click)="back()">
      Back
    </button>
  </div>
</div>
