<div *ngIf="user">
  <h2 class="page-title">{{user.firstName}} 's details</h2>
  <div class="item-box" ><div class="label">id: </div><span class="label-content">{{user.userId}}</span></div>
  <div class="item-box"><div class="label">first name: </div><span class="label-content">{{user.firstName}}</span></div>
  <div class="item-box"><div class="label">last name: </div><span class="label-content">{{user.lastName}}</span></div>
  <div class="item-box"><div class="label">username: </div><span class="label-content">{{user.username}}</span></div>
</div>

<div class="group-buttons">
  <button class="btn-primary mr-2" (click)="getPhones(user)">
    Get Phones
  </button>
  <button class="btn-edit mr-2" (click)="edit(user)">
    Edit
  </button>
  <button class="btn-view mr-2" (click)="goBack()">
    Back
  </button>
  <button class="btn-creation mr-2" (click)="changeHistory()">
    Changes History
  </button>
</div>
