<div *ngIf="phone">
  <h2 class="page-title">phone number {{phone.phoneNumber}} details</h2>
  <div><label class="label">phone Id: </label> <span class="label-content">{{phone.phoneId}}</span></div>
  <div><label class="label">Phone Number: </label> <span class="label-content">{{phone.phoneNumber}}</span> </div>
  <div><label class="label">Verification status: </label> <span class="label-content">{{phone.isVerified}}</span> </div>
  <div><label class="label">UserId: </label> <span class="label-content">{{phone.userId}}</span> </div>

  <div>
    <div *ngIf="!setKey">
      <button class="btn-creation my-5" (click)="initiateVerification()">Get Key</button>
    </div>
    <div>
      <input [formControl]="verificationFormControl">
      <button class="btn-primary ml-2" (click)="completeVerification()">Verify</button>
    </div>
  </div>


  <div>
    <button  class="btn-edit mr-2" (click)="updatePhone()">
      Edit
    </button>
    <button class="btn-view " (click)="back()">
      Back
    </button>
  </div>

</div>
