<div *ngIf="phone">
  <h2>{{phone.phoneNumber}} details</h2>
  <div><span>Id: </span>{{phone.phoneId}}</div>
  <div><span>Phone Number: </span>{{phone.phoneNumber}}</div>
  <div><span>Verification status: </span>{{phone.isVerified}}</div>

  <div>
    <div *ngIf="!setKey">
      <button (click)="initiateVerification()">Get Key</button>
    </div>
    <div>
      <input [formControl]="verificationFormControl">
      <button (click)="completeVerification()">Verify</button>
    </div>
  </div>


  <div>
    <button (click)="updatePhone()">
      Edit
    </button>
    <button (click)="back()">
      Back
    </button>
  </div>

</div>
